body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5F5DC;
    color: #fff;
}

header {
    background-color:teal;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    height:30px;
}

.upper-half {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #004849;
    margin-bottom: 60px;
    margin-top: 20px;
    height:150px;
    padding-top: 10px;
}

.bold-text {
    font-weight: bold;
    font-size: 72px;
    margin-bottom: 100px;
    text-align: center;
    color: #fff;
    opacity: 0;
    animation: fadeIn 9s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#button {
    position: absolute; /* Positions the button relative to its containing block */
    top: 5px; /* Aligns the button to the top of the header */
    right: 2px; /* Aligns the button to the right of the header */
    padding: 8px 16px; /* Adjust padding as needed */
    background-color: #004849; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none; /* Removes button border */
    border-radius: 4px; /* Adds rounded corners to the button */
}

#button a {
    color: inherit; /* Inherit the text color from the button */
    text-decoration: none; /* Removes underline from the link */
}

#button:hover {
    background-color: green; /* Button background color on hover */
}

.lower-half {
    display: flex;
    justify-content: center;
}

.container {
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.card {
    width: calc(33.33% - 20px);
    max-width: 300px;
    background-color: #111;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}
.card1 {
    width: calc(33.33% - 20px);
    max-width: 300px;
    background-color: #F5F5DC;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
}

.card a {
    text-decoration: none;
    color: #fff;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .bold-text {
        font-size: 36px;
    }

    .container {
        padding: 0 5px;
    }

    .card {
        width: calc(100% - 20px);
    }
}


